.alert{
    width: 40%;
    position: absolute;
    right: 0;
    animation-name: alertMessage;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes alertMessage {
    0%{
        transform: translateX(500px);
        opacity: 50%;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}